@model IEnumerable<TruyumClientApp.Models.CartItem>

@{
    ViewData["Title"] = "ViewCart";
}

<h1>ViewCart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CartItemID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItemID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CartItemID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuItemID)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id=item.CartItemID })
            </td>
        </tr>
}
    </tbody>
</table>
